*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

.container{
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}




.top_section{
	height: auto;
	z-index: 1;
	color: rgb(61, 61, 57);
	background-color: rgb(246, 238, 233);
}

header{
	position: absolute;
	width: 100%;
	height: 75px;
	background-color: black;
	opacity: 0.9;
	top: 30px;

}

section.top_section img{
	margin-left: 15%;
}

section.top_section .text-container{
	position: absolute;
	z-index: 100;
	top: 30%;
	width: 25%;
	margin-left: 10%;
	height: 100%;

	padding: 20px;
}

.text-container h1{
	margin-bottom: 3em;

}

.text-container p{
	margin-bottom: 3em;
}

.text-container .btn{
	margin-top: 200px;

	border:2px solid rgb(250, 200, 27);
	
	border-left-width: 10px;
	
	padding: 20px;
	color: rgb(61, 61, 57);
}




 /*sdfsdf*/

 .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .area {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .area {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .area {
    width: 1100px;
  }
}
.navbar-component {
  background-color: black;
}
.navbar-component > .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar > .brand {
  display: block;
  font-size: 16px;
  color: #777;
  margin: 22px;
}


.navbar > .list {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .navbar > .list {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
}
.navbar > .list.-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar > .list > .item {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 64px;
  line-height: 64px;
  padding-left: 22px;
  padding-right: 22px;
  text-transform: uppercase;
  color: #555;
  font-size: 14px;
}
.navbar > .list > .item.-link {
  line-height: 68px;
  color: rgb(255, 255, 255);
  border-bottom: 11px solid transparent;
}
.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(233, 105, 106);
}


/* MIDDLE SECTION */
.middle{
	height: auto;
	margin-top: -5px;
}

.middle .features{
	background-color: rgb(230, 103, 104);
	
	padding-top: 80px;
	padding-bottom: 80px;
}

.features h1{
	color: rgb(236, 186, 11);
	text-align: center;
}

.features .features-m{
	width: 1100px;
	margin: 80px auto 80px auto;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;s

}

.features-m .item{
	text-align: center;
	width: 20%;
	padding: 5px;
	color: rgb(250, 230, 230);
}

.features-m .item img{
	padding: 55px;
	background-color: rgb(221, 94, 95);
}


.features-m .item h2{
	margin-top: 1em;
}

.features-m .item p{
	margin-top: 1em;
	margin-bottom: 2em

}

.features-m .item .btn-yel{

	border:2px solid rgb(250, 200, 27);
	
	border-left-width: 10px;
	
	padding: 5px 40px;
	color: rgb(250, 230, 230);
	margin-top: 1em;
}

.middle .work{
	text-align: center;
	background-color: yellow;
	margin-top: -85px;
	padding: 85px 0;
}