*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

.container{
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}




.top_section{
	height: auto;
	z-index: 1;
	color: rgb(61, 61, 57);
	background-color: rgb(246, 238, 233);
}

/* HEADER */

header{
	position: fixed;
	width: 100%;
	height: 75px;
	background-color: black;
	opacity: 0.9;
	top: 0;
	z-index: 1000;

}


header .box{
			margin-left: auto;
			margin-right: auto;
			width: 1100px;
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: flex-end;

		}

		.box nav{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			margin: 100px;
			height: 100%;
			
		}
		.box nav a{
			margin-left: 20px;
			line-height: 68px;
 			 color: rgb(255, 255, 255);
  			border-bottom: 11px solid transparent;
		}

		.box nav a:hover{
			border-bottom-color: white;
		}
		.box .logo{
			order: -1;
			margin-right: 250px;
		}
		.box .logo img{
			width: 100%;

		}



section.top_section img{
	margin-left: 15%;
}

section.top_section .text-container{
	position: absolute;
	z-index: 100;
	top: 30%;
	width: 25%;
	margin-left: 10%;
	height: 100%;

	padding: 20px;
}

.text-container h1{
	margin-bottom: 3em;

}

.text-container p{
	margin-bottom: 3em;
}

.text-container .btn{
	margin-top: 200px;

	border:2px solid rgb(250, 200, 27);
	
	border-left-width: 10px;
	
	padding: 20px;
	color: rgb(61, 61, 57);
}




 /*sdfsdf*/

 


/* MIDDLE SECTION */
.middle{
	height: auto;
	margin-top: -5px;
}

.middle .features{
	background-color: rgb(230, 103, 104);
	
	padding-top: 80px;
	padding-bottom: 80px;
}

.features h1{
	color: rgb(236, 186, 11);
	text-align: center;
}

.features .features-m{
	width: 1100px;
	margin: 80px auto 80px auto;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

}

.features-m .item{
	text-align: center;
	width: 20%;
	padding: 5px;
	color: rgb(250, 230, 230);
}

.features-m .item img{
	padding: 55px;
	background-color: rgb(221, 94, 95);
}


.features-m .item h2{
	margin-top: 1em;
}

.features-m .item p{
	margin-top: 1em;
	margin-bottom: 2em

}

.features-m .item .btn-yel{

	border:2px solid rgb(250, 200, 27);
	
	border-left-width: 10px;
	
	padding: 5px 40px;
	color: rgb(250, 230, 230);
	margin-top: 1em;
}

.middle .work{
	text-align: center;
	background-color: rgb(246, 241, 237);
	margin-top: -85px;
	padding: 85px 0;
}

.work h1{
	color: rgb(236, 186, 11);
}


/* SLIDER */
#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}
